<main class="flex justify-center mt-4 pb-4">
    <!-- main login box -->
    <div class="w-3/5 border-2 border-[#390DFF] rounded-[2rem] p-8 bg-white/30 text-[#390DFF] text-center">

      <!-- Login form -->
      <div>
        <h2 class="text-2xl font-semibold mb-4">Welcome back to Amazing Animals</h2>
        <form id="login-form">
          <label for="login-name" class="block mb-1">What's your name?</label>
          <input
            type="text"
            id="login-name"
            name="login-name"
            placeholder="Type your name here!"
            class="my-4 p-2 w-4/5 rounded-full border border-[#390DFF]"
          >
          <br>
          <input
            type="submit"
            value="Click here to continue learning!"
            class="p-2 w-4/5 rounded-full border border-[#390DFF] text-[#A4F8B5] bg-[#390DFF] cursor-pointer hover:opacity-90 transition"
          >
        </form>
      </div>

        <hr class="my-8 border-[#390DFF]">

      <!-- Register form -->
      <div>
        <h2 class="text-2xl font-semibold">Are you new to Amazing Animals?</h2>
        <h2 class="text-xl mb-4">Great! Let's start learning!</h2>
        <form id="createUser-form">
          <label for="register-name" class="block mb-1">What shall I call you?</label>
          <input
            type="text"
            id="register-name"
            name="register-name"
            placeholder="Type your name here!"
            class="my-4 p-2 w-4/5 rounded-full border border-[#390DFF]"
          >
          <br>
          <input
            type="submit"
            value="Click here to create your very own account"
            class="p-2 w-4/5 rounded-full border border-[#390DFF] text-[#A4F8B5] bg-[#390DFF] cursor-pointer hover:opacity-90 transition"
          >
        </form>
      </div>

    </div>
  </main>

  