@import "tailwindcss";

body {
  margin: 0;
  background: linear-gradient(to bottom, #a4f8b5, #3874f8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Langar';
  color: #390DFF;
}

#app {
  flex: 1;
  /* padding: 2rem; */
} 

a {
  color: A4F8B5;
} 