<header style="background-color: #390DFF; padding: 1rem; color: white;">

    <nav style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #A4F8B5;
    font-weight: bold;
    gap: 1rem;
  ">
        <a href="#" onclick="loadFeature('search')" style="color: #A4F8B5; text-decoration: none;">Search Animals</a>
        <a href="#" onclick="loadFeature('game')" style="color: #A4F8B5; text-decoration: none;">Play guess the Animal</a>
        <a href="#" onclick="loadView('home')" style="color: #A4F8B5; text-decoration: none;">Amazing Animals</a>
        <a href="#" onclick="loadFeature('favourite')" style="color: #A4F8B5; text-decoration: none;">My Favourite Animals</a>
        <a href="#" onclick="loadView('loginpage')" style="color: #A4F8B5; text-decoration: none;">Log Out</a>
    </nav>

  </header>
  