  <header class="bg-[#390DFF] p-4 text-white">
    <nav class="flex justify-around items-center flex-row font-bold gap-4 text-[#A4F8B5]">
      <a href="#" onclick="loadFeature('search')" class="text-[#A4F8B5] no-underline hover:underline">Search Animals</a>
      <a href="#" onclick="loadFeature('game')" class="text-[#A4F8B5] no-underline hover:underline">Play guess the Animal</a>
      <a href="#" onclick="loadView('home')" class="text-[#A4F8B5] no-underline hover:underline">Amazing Animals</a>
      <a href="#" onclick="loadFeature('favourite')" class="text-[#A4F8B5] no-underline hover:underline">My Favourite Animals</a>
      <a href="#" id="logout-link" class="text-[#A4F8B5] no-underline hover:underline">Log Out</a>
    </nav>
  </header>
  